services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000" # S3
      - "9001:9001" # Web
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    env_file:
      - .env.test
    command: server /data --console-address ":9001"
    volumes:
      - ./docker-compose-data/minio-data:/data
    networks:
      local-network:
        aliases:
          - minio.k-stage.dev

  minio-init:
    image: minio/mc
    depends_on:
      - minio
    env_file:
      - .env.test
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      mc alias set myminio http://minio.k-stage.dev:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};
      mc mb -p myminio/${S3_BUCKET};
      "
    networks:
      - local-network
